*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
::selection{
    background: yellow;
}
#blue{
    color: #1CBAC8;
}
#up-arrow{
    font-size: 20px;
    color: white;
    background-color: rgb(68, 68, 68);
    padding: 12px;
    position: fixed;
    right: 5%;
    bottom: 0px;
    /* display: none; */
    transition:0.5s;
    transform: scale(0);
}
#navicon{
    position: absolute;
    right: 5%;
    top:20px;
    font-size: 25px;
   color: rgb(136, 136, 136);
   display: none;
   padding: 10px;
}
.grey{
    color: rgb(110, 110, 110);
    font-weight: 800;
}
html{
    font-size: 12px;
    overflow-x:hidden ;
}
.note{
    width: 100%;
    background-color: #F5F5F5;
    padding: 1% 0%;
}
.note-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
}
.note-inner p{
    color: rgb(128, 128, 128);
}
.note-inner i{
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
}
/* navigation start */
nav{
    width: 100%;
    position: sticky;
    top: 0px; 
    background: white;
    z-index: 5;
    box-shadow: 0px 3px 5px 0px rgb(146, 146, 146);
}
.nav-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 1%;
    position: relative;
}
.nav-inner img{
    width: 250px;
    height: 50px;
}
.nav-inner ul{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    font-size: 15px;
    color: #868686;
    font-weight: 700;
    overflow: hidden;
}
.nav-inner ul a{
    text-decoration: none;
    color: grey;
}
.nav-inner ul a li{
    margin-left: 20px;
    cursor: pointer;
}
.nav-inner ul a li:hover{
    color: #1CBAC8;
}
.nav-inner ul i{
    margin-left: 20px;
    color: #868686;
    margin-top: 4px;
    font-size: 17px;
}
.nav-inner ul .line{
    color: rgb(228, 228, 228);
}
.nav-inner ul .search{
    display: none;
}

.search-box{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5% 1%;
    display: flex;
    justify-content: space-between;
    display: none;
}
.search-box input{
    width: 300px;
    border: none;
    font-size: 2rem;
    outline: none;
    color: #585757;
}
.search-box i{
    font-size: 2rem;
    margin-top: 5px;
}
/* nav section ends */

/* main section start */
main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 5% 1%;
}
main .box{
    width: 48%;
    padding: 3% 2%;
}
main .form{
    background: #F9F9F9;
}
main .form h3{
    font-size: 1.8rem;
    color: #1B1B1B;
}
main .form p{
    font-size: 1.2rem;
    margin-top: 30px;
    color:rgb(167, 167, 167);
}
main .form form input{
    width: 100%;
    height: 30px;
}
main .form form textarea{
    width: 100%;
    height: 100px;
}
main .form form .button{
    margin-top: 20px;
}
main .form form .button p{
    margin-top: 0px;
}
main .form form .button .fa{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
main .form form .button button{
    width: 80px;
    font-weight: 600;
    font-size: 1.5rem;
    height: 40px;
    background: #8686869f;
    color: white;
    border: none;
    margin-top: 20px;
}

/* main map */
main .map{
    padding-top: 0px;
}
main .map iframe{
    width: 100%;
}
main .map h2{
    font-size: 1.5rem;
    color: #222222;
    margin-top: 50px;
}
main .map p{
    font-size: 1.1rem;
    line-height: 30px;
    margin-top: 30px;
    color: rgb(124, 123, 123);
}
main .map .contact{
    color: #1CCE37;
}


/* main section ends */

/* footer start */
footer{
    width: 100%;
    margin-top: 20px;
}
footer .blank{
    width: 100%;
    height: 60px;
    background-color: #262626;
}
footer .text{
    width: 100%;
    background-color: #1B1B1B;
    padding: 2% 1%;
}
footer .text-inner{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    color: rgb(129, 129, 129);
}
footer .text i{
    font-size: 2rem;
}
/* footer ends */



/* media query start */
@media only screen and (max-width:940px){
    html{
        font-size: 10px;
    }
    #navicon{
        display: block;
        cursor: pointer;
    }
    nav{
        position:relative;  
    }
    .nav-inner{
        max-width: 800px;
    }
    nav .nav-inner ul{
        width: 100%;
        flex-direction: column;
        background-color: #222222;
        padding: 10px 0px;
        max-height: 0px;
        overflow: hidden;
        padding: 0px;
    }
    nav .nav-inner ul li{
        margin-bottom: 15px;
        border-bottom: .5px dotted rgb(230, 230, 230);
        padding: 7px 1px;
    }
    nav .nav-inner ul .line{
        display: none;
    }
    nav .nav-inner ul .fa-search{
        display: none;
    }
    nav .nav-inner ul .search{
        display: block;
        border-bottom: none;
    }
    nav .nav-inner ul .search input{
        width: 100%;
        height: 40px;
        background-color: #444444;
        border: none;
        padding: 10px;
        outline: none;
        color: white;
    }

    /* services start */
    .service .box{
        width: 100%;
    }

    /* about section */
    .about p{
     font-size: 1.5rem;
    }
}
@media only screen and (max-width:853px){
    main .box{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}